BREAKPOINT = 736 //sp max
fmn = (0.1rem * 320 / 750)
mn = (100% / 750)

@import '../modules/base'

// BEM記法
// Block
// Element
// Modifier

.clearfix
  &:after
    content ' '
    display  block
    clear both
.background
  background-color wheat

.wrapper
  width 1180px
  padding 0 50px
  margin 0 auto
  background-color linen
  height 1150px
  color dimgray



.top
  padding-top 20px
  margin-bottom 40px


.first
  float right
  font-size 44px
  padding-top 30px
  padding-right 80px
  line-height 1.5em
  letter-spacing 8px

.ttl
  font-weight bold
  font-family "Sawarabi Mincho"

.second
  font-size 20px
  font-family "Sawarabi Mincho"
  padding 10px
  background-color mistyrose
  width 380px
  letter-spacing


// .main

.center-img
  height 600px
  margin 0 auto
  margin-bottom 20px

  background-image url(/assets/images/center_img.jpg)
  background-repeat no-repeat
  background-size cover
  background-position center center


.comment1
  font-size 20px
  font-family "Sawarabi Mincho"
  margin-bottom 30px


.option
  float left
  position relative
  width 430px
  height 213px


.under-img
  width 320px
  float left

.with-img
  position absolute
  width 250px
  left 270px

.comment2
  position relative
  top 140px
  left 10px
  margin-bottom auto
  font-family "Sawarabi Mincho"
  font-size 12px

.last-comment
  background-color mistyrose
  float right
  font-size 45px
  position relative
  top 0 auto
  left 20px
  bottom 15px
  right 12px
  font-family "Sawarabi Mincho"
  line-height 1.2em

.box
 border solid 3px
 border-radius  10px
 border-color sandybrown






// 　.main
