BREAKPOINT = 736 //sp max
fmn = (0.1rem * 320 / 750)
mn = (100% / 750)

@import '../modules/base'

// BEM記法
// Block
// Element
// Modifier
  .top
    width 800px
    margin 0 auto
    padding-top 20px


  .first
    float right
    font-size 25px
    padding-right 60px
    padding-top 20px

  .ttl
    font-weight bold
    font-family "Sawarabi Mincho"

  .second
    padding-left 80px
    font-size 16px
    font-family "Sawarabi Mincho"

// 　.main
