extends /layout/layout

block data
  -
    page = index

block css
  link(href=CSS_DIR + 'index.css' rel='stylesheet' type='text/css')

block script
  script(src=JS_DIR + 'index.js' type='text/javascript' charset='UTF-8')

block content
  .background#home  
    .wrapper
      .top.clearfix
        .first
          h1.ttl
            |わたし時間で作る
            br
            |世界に1つの愛着雑貨。
            
        .second.box
          p
            |家族のために頑張っていると
            br
            |つい忘れてしまいがちな自分の時間。
            br
            |思い切り楽しむ時間が必要です。
            br
            |まとまった時間がなくても、好きな場所で
            br
            |小さなお気に入りを作る３人のママに
            br
            |出会いました。自分らしく楽しむ
            br
            |気ままなアトリエをのぞいてみましょう!
        
      .main  
        .center-img
            
        .midcom
          .comment1
            p
              |作品を並べた壁のニッチは私だけの小さな世界
              br
              |少しずつ増えていくのが嬉しくて、眺めては幸せな気分に。
        
      .bottom.clearfix
        .option.clearfix
          .under-img
            //- img(src="/assets/images/under_img.jpg")
            img(src="http://placehold.jp/1280x800.png")
              
          .with-img
            img(src="/assets/images/english.png")
          .comment2
            p
            |家を建てる時、ダイニングに設けたパソコン用カウンターが私のアトリエ。テーブルでも作業できて便利です。
            
        .last-comment
          p.box
            |自分の大好きなものを
            br
            |粘土でミニチュアにする時間は  
            br
            |日頃の疲れやストレスも
            br
            |すーっと消してくれるんです。   
            
